{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900">
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
</head>

<body style="font-family: Montserrat, sans-serif;" onload="alert('press Ctrl + P to print')">
    <div class="container">
        <div class="row d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex align-items-center align-items-sm-center align-items-md-center align-items-lg-center align-items-xl-center">
            <div class="col-3 text-center d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center">
                <picture class="d-lg-flex justify-content-lg-center align-items-lg-center"><img class="img-fluid d-lg-flex justify-content-lg-center align-items-lg-center" src="{% static 'assets/img/logo.png' %}" style="width: 106px;margin-top: 36px;"></picture>
            </div>
            <div class="col d-md-flex">
                <div class="row d-md-flex">
                    <div class="col">
                        <h2 class="text-center d-md-flex d-lg-flex justify-content-lg-center" style="color: rgb(94,104,157);"><strong>HALIFAX MARPLE MONTESSORI SCHOOL</strong></h2>
                        <h5 class="text-center d-lg-flex justify-content-lg-center" style="color: rgb(94,104,157);"><strong>CRECHE, NURSERY &amp; KINGERGARTEN</strong></h5>
                        <h6 class="text-center d-lg-flex justify-content-lg-center" style="font-family: Montserrat, sans-serif;color: rgb(94,104,157);">P. O. BOX 93 , JAMES - TOWN</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 12px;">
            <div class="col d-lg-flex align-items-lg-center">
                <div style="background-color: rgba(94,104,157,0);padding: 7px;">
                    <h3 style="color: rgb(94,104,157);"><strong>Official Receipt</strong></h3>
                </div>
            </div>
            <div class="col d-md-flex d-lg-flex justify-content-md-end align-items-md-end justify-content-lg-end" style="margin-top: 5px;">
                <div class="form-group d-md-flex justify-content-md-end">
                    <div class="d-lg-flex align-items-lg-center">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text" style="background-color: rgb(0,0,0);color: rgb(255,255,255);">Date</span></div><input class="form-control border-secondary" type="text" value="{{transaction.date|date:'d-M-Y'}}" readonly=""></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-lg-flex align-items-lg-end" style="margin-top: 12px;">
            <div class="col-3 d-md-flex d-lg-flex justify-content-md-end align-items-md-center justify-content-lg-end">
                <h6 class="text-left d-lg-flex" style="margin-top: 1px;">Received from:</h6>
            </div>
            <div class="col"><input class="form-control-lg form-control border-bottom border-dark" type="text" value="{{transaction.account}}" readonly=""></div>
        </div>
        <div class="row d-lg-flex align-items-lg-end" style="margin-top: 12px;">
            <div class="col-3 d-md-flex d-lg-flex justify-content-md-end align-items-md-center justify-content-lg-end">
                <h6 class="text-left d-lg-flex" style="margin-top: 1px;">the sum of:</h6>
            </div>
            <div class="col"><input class="form-control-lg form-control border-bottom border-dark" type="text" value="{{wd|title}} Ghana Cedis Only" readonly=""></div>
        </div>
        <div class="row d-lg-flex align-items-lg-end" style="margin-top: 12px;">
            <div class="col-3 d-md-flex d-lg-flex justify-content-md-end align-items-md-center justify-content-lg-end">
                <h6 class="text-left d-lg-flex" style="margin-top: 1px;">being:</h6>
            </div>
            <div class="col"><input class="form-control-lg form-control border-bottom border-dark" type="text" value="{{transaction.description}}" readonly=""></div>
        </div>
        <div class="row mt-5 align-items-between">
            <div class="col-7">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><strong>AMOUNT PAID</strong></span></div><input class="form-control form-control-lg" type="text" value="GHc {{transaction.amount|intcomma}}" readonly></div>
                    </div>
                </div>
                <div class="row align-items-center mt-2">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><strong>BALANCE DUE</strong></span></div><input class="form-control form-control-lg" readonly value="GHc {{ transaction.account.amount|intcomma }}" type="text"></div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-3 justify-content-end">
                <div class="row"><input readonly type="text" data-toggle="tooltip" data-bs-tooltip="" data-placement="bottom" class="form-control border-bottom border-dark"></div>
                <div class="row justify-content-center">
                    <p class="lead mt-2">Manager's Signature</p>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/script.min.js' %}"></script>
</body>

</html>