{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-between">
    <span class="mt-5">
        <i class="fa fa-home fa-lg"></i>
        <a href="/dashboard"> Home</a>
    </span>
    <a href="{% url 'student:enroll' %}" class="mt-5">
        <button class="btn btn-info" type="button"><i class="fa fa-plus"></i> Enroll Student</button>
    </a>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 5%;">#</th>
                <th style="width: 300px;">Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Class</th>
                <th>Teacher</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{% url 'student:update' student.id %}">{{ student.get_full_name }}</a>
                </td>
                <td>{{ student.gender }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.clss }}</td>
                <td>{{ student.assigned_teacher }}</td>
                <td>
                    <div>
                        <a href="{% url 'account:index' student.id %}">
                            <button class="btn btn-outline-primary" type="button">Account</button>
                        </a>
                        <a href="{% url 'student:delete' student.id %}">
                            <button class="btn btn-primary bg-danger border-danger" type="button"
                                style="margin-left: 5px;">Delete</button>
                        </a>
                    </div>
                </td>
            </tr>
            {% empty %}
            <p class="lead text-center mt-5">No Students added</p>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}