{% extends 'base.html' %}

{% block content %}
<div class="table-responsive" style="margin-top: 30px;">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 5%;">#</th>
                <th style="width: 300px;">Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Class</th>
                <th>Teacher</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{% url 'student:update' student.id %}">{{ student.get_full_name }}</a>
                </td>
                <td>{{ student.gender }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.clss }}</td>
                <td>{{ student.assigned_teacher }}</td>
                <td>
                    <div>
                        <a href="{% url 'account:index' student.id %}">
                            <button class="btn btn-outline-primary" type="button">Account</button>
                        </a>
                        <a href="{% url 'student:delete' student.id %}">
                            <button class="btn btn-primary bg-danger border-danger" type="button" style="margin-left: 5px;">Delete</button>
                        </a>
                    </div>
                </td>
            </tr>
            {% empty %}
            <p class="lead text-center mt-5">No Students added</p>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}