{% extends 'base.html' %}

{% block pageTitle %} Pay Fees for <strong>{{student}}</strong> {% endblock %}

{% block content %}
<div class="justify-content-center row">
    <div class="col-12">
        {% if messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
    </div>
    <form class="col-12 mt-3" method="post">
        {% csrf_token %}
        <h4 class="text-center" style="margin-bottom: 29px;margin-top: 14px;">Fee Payment</h4>
        <div class="form-group"><label>Student</label><input class="form-control" type="text" name="student" value="{{ student }}" disabled></div>
        <div class="form-group"><label>Amount</label><input class="form-control" type="number" min="0" required step=".01" name="amount" placeholder="Amount Paying"></div>
        <div class="form-group"><button class="btn btn-primary w-100" type="submit">Pay Fees</button></div>
    </form>
</div>
{% endblock %}