{% extends 'base.html' %}

{% block pageTitle %}
Class Administration
{% endblock %}


{% block content %}

<div class="row justify-content-between">
    <span class="mt-5">
        <i class="fa fa-home fa-lg"></i>
        <a href="/dashboard"> Home</a>
    </span>
    <a href="{% url 'class:add' %}" class="mt-5">
        <button class="btn btn-info" type="button"><i class="fa fa-plus"></i> Add Class</button>
    </a>
</div>

<div class="table-responsive my-5">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 5%;">#</th>
                <th>Class Name</th>
                <th style="width: 300px;">Fee</th>
                <th style="width: 200px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for class in classes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{% url 'class:update' class.id %}">{{ class.name }}</a>
                </td>
                <td>{{ class.fee }}</td>
                <td>
                    <a href="{% url 'class:delete' class.id %}"><button class="btn btn-primary bg-danger border-danger" type="button" style="margin-left: 5px;">Delete</button></a>
                </td>
                {% empty %}
                <p class="lead text-center mt-5">No classes added yet</p>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}