{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <title>smis</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md shadow-lg sticky-top" style="background-color: white;">
        <div class="container-fluid"><a class="navbar-brand" href="/dashboard">
            <img src="{% static 'assets/img/logo.png' %}" alt="Logo" style="width:40px;"> Halifax Montessori</a><button
                data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li role="presentation" class="nav-item"><a class="nav-link" href="#"><i class="fa fa-user"
                                style="margin-left: 0px;"></i> {{ request.user }} |</a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="/"><i
                                class="fa fa-power-off"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        <h1>
            Default Content here
        </h1>
        {% endblock %}
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>