{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>smis</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand sticky-top shadow" style="background-color: #fbfbfb;">
        <div class="container-fluid"><a class="navbar-brand" href="#" style="font-size: 16px;"><i
                    class="fa fa-user-o"
                    style="margin-right: 5px;font-size: 15px;font-weight: bold;"></i><strong>Emmanuel
                    Thompson</strong></a><button data-toggle="collapse" class="navbar-toggler"
                data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse justify-content-end" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/"><i
                                class="fa fa-power-off" style="margin-right: 5px;"></i>Logout</a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col d-lg-flex">
                <div class="d-flex flex-row align-items-lg-center">
                    <a href="{% url 'dashboard' %}">
                        <i class="fa fa-home"
                        style="margin-right: 10px;font-weight: normal;margin-top: -8px;font-size: 24px;"></i>
                    </a>
                    <p class="lead" style="font-size: 32px;margin-right: 10px;">|</p>
                    <p style="margin-top: 8px;">{% block pageTitle %}Student admin{% endblock %}</p>
                </div>
            </div>
            <div class="col d-lg-flex justify-content-lg-end align-items-lg-center">
                {% block addBtn %}
                <a href="{% url 'student:enroll' %}"><button class="btn btn-outline-primary" type="button">Enroll Student</button></a>
                {% endblock %}
            </div>
        </div><input class="border rounded form-control-sm d-lg-flex justify-content-lg-center" type="search"
            placeholder="Search" style="margin-top: 8px;">
        {% block content %}
        <h1>
            Default Content here
        </h1>
        {% endblock %}
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>