{% extends 'base.html' %}

{% block content %}
{% if request.user.can_login %}
<div class="container">
    <div class="row pt-5">
        <div class="col">
            <h1 class="text-center display-4">Welcome to your Dashboard</h1>
        </div>
    </div>
    <div class="row d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex align-items-center align-items-sm-center align-items-md-center align-items-lg-center align-items-xl-center pt-5">
        <div class="col d-xl-flex justify-content-xl-center col-12 col-md-4 py-3 myDiv">
            <a href="{% url 'student:index' %}">
                <div class="shadow-lg box square" style="background-color: #daa520;" role="button">
                    <h3 class="text-center text-white p-0 m-0">Students</h3>
                </div>
            </a>
        </div>
        <div class="col d-xl-flex justify-content-xl-center col-12 col-md-4 py-3 myDiv">
            <a href="{% url 'staff:index' %}">
                <div class="shadow-lg box square" style="background-color: #b62828;" role="button">
                    <h3 class="text-center text-white p-0 m-0">Staff</h3>
                </div>
            </a>
        </div>
        <div class="col d-xl-flex justify-content-xl-center col-12 col-md-4 py-3 myDiv">
            <a href="{% url 'class:index' %}">
                <div class="shadow-lg box square" style="background-color: #28883d;" role="button">
                    <h3 class="text-center text-white p-0 m-0">Class</h3>
                </div>
            </a>
        </div>
    </div>
    <div>
        <p class="text-center h4 my-5">Let's get you Started</p>
        <div class="container">
            <div class="col-12">
                <ol>
                    <li class="my-3">Please take screenshots of issues that may arise during the use of this system. This will help make the system better</li>
                    <li class="my-3">If you are confused about anything, contact the System Administrator</li>
                    <li class="my-3">Actively suggest ideas that may improve the usage of this System</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% else %}
<p class="text-center">Sorry you're not authorized</p>
{% endif %}
{% endblock %}