{% extends 'base.html' %}

{% block pageTitle %}
Staff Administration
{% endblock %}


{% block content %}
<div class="row justify-content-between">
    <span class="mt-5">
        <i class="fa fa-home fa-lg"></i>
        <a href="/dashboard"> Home</a>
    </span>
    <a href="{% url 'staff:add' %}" class="mt-5">
        <button class="btn btn-info" type="button"> <i class="fa fa-plus"></i> Add Staff</button>
    </a>
</div>

<div class="table-responsive" style="margin-top: 30px;">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 5%;">#</th>
                <th>Name</th>
                <th style="width: 300px;">Can Login?</th>
                <th style="width: 200px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for staff in all_staff %}
            <tr>
                <td>1</td>
                <td>
                    <a href="{% url 'staff:update' staff.id %}">{{ staff.name }}</a>
                </td>
                <td>
                    {{ staff.can_login }}
                </td>
                <td>
                    <a href="{% url 'staff:delete' staff.id %}"><button class="btn btn-primary bg-danger border-danger"
                            type="button" style="margin-left: 5px;">Delete</button>
</div>
</td>
</tr>
{% empty %}
<p class="text-center mt-5 lead">No Staff Item added yet</p>
{% endfor %}
</tbody>
</table>
</div>

{% endblock %}